<launch>


<!-- Device : Dome -->
  <group ns="dome">

    <node name = "control_reader"
    	  type = "relay.py"
	  pkg = "necst_ros3">
      <param name = "config_file"
      	     value = "$(find necst_ros3)/relay_conf/dome_control_reader.conf" />
    </node>
    
    <node name = "emergency_reader"
    	  type = "relay.py"
	  pkg = "necst_ros3">
      <param name = "config_file"
      	     value = "$(find necst_ros3)/relay_conf/dome_emergency_reader.conf" />
    </node>

    <node name = "door_locker"
    	  type = "relay.py"
	  pkg = "necst_ros3">
      <param name = "config_file"
      	     value = "$(find necst_ros3)/relay_conf/dome_door_locker.conf" />
    </node>

    <node name = "door_reader"
    	  type = "relay.py"
	  pkg = "necst_ros3">
      <param name = "config_file"
      	     value = "$(find necst_ros3)/relay_conf/dome_door_reader.conf" />
    </node>

    <node name = "door_leftposition_reader"
    	  type = "relay.py"
	  pkg = "necst_ros3">
      <param name = "config_file"
      	     value = "$(find necst_ros3)/relay_conf/dome_door_leftposition_reader.conf" />
    </node>

    <node name = "door_rightposition_reader"
    	  type = "relay.py"
	  pkg = "necst_ros3">
      <param name = "config_file"
      	     value = "$(find necst_ros3)/relay_conf/dome_door_rightposition_reader.conf" />
    </node>

    <node name = "door_commander"
    	  type = "relay.py"
	  pkg = "necst_ros3">
      <param name = "config_file"
      	     value = "$(find necst_ros3)/relay_conf/dome_door_commander.conf" />
    </node>

    <node name = "door_cmd_writer"
    	  type = "relay.py"
	  pkg = "necst_ros3">
      <param name = "config_file"
      	     value = "$(find necst_ros3)/relay_conf/dome_door_cmd_writer.conf" />
    </node>

    <!-- simulators -->
    <node name = "door_simulrator"
	  type = "dome_door_simulator.py"
	  pkg = "necst_ros3">
      <param name="travel_time_left" value="5.0" />
      <param name="travel_time_right" value="6.0" />
    </node>
    
    <node name = "emergency_simulrator"
	  type = "dome_emergency_simulator.py"
	  pkg = "necst_ros3">
    </node>
    
    <node name = "control_simulrator"
	  type = "dome_control_simulator.py"
	  pkg = "necst_ros3">
    </node>
        
  </group>

</launch>