<launch>

  <include ns="antenna" file="$(find necst_ros3)/launch/nanten2-antenna.launch" />
  <include ns="antenna" file="$(find necst_ros3)/launch/nanten2-antenna-simulator.launch" />

  <include ns="encoder" file="$(find necst_ros3)/launch/nanten2-encoder.launch" />
  <include ns="encoder" file="$(find necst_ros3)/launch/nanten2-encoder-simulator.launch" />

</launch>
