<launch>

  <node name = "antenna_azel_list"
        type = "ROS_azel_list.py"
        pkg = "necst">
  </node>

  <node name = "worldcoordinate_onepoint"
        type = "ROS_scan_onepoint.py"
        pkg = "necst">
  </node>

  <node name = "antenna_move"
        type = "antenna_v3.py"
        pkg = "necst">
  </node>

</launch>
