<launch>

  <node name = "control_reader"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_control_reader.conf" />
  </node>
    
  <node name = "emergency_reader"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_emergency_reader.conf" />
  </node>

  <node name = "error_reader"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_error_reader.conf" />
  </node>

  <node name = "az_locker"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_az_locker.conf" />
  </node>

  <node name = "az_action_reader"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_az_action_reader.conf" />
  </node>

  <node name = "az_commander"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_az_commander.conf" />
  </node>

  <node name = "az_encoder_reader"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_az_encoder_reader.conf" />
  </node>

  <node name = "az_encoder_writer"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_az_encoder_writer.conf" />
  </node>

  <node name = "az_speed_writer"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_az_speed_writer.conf" />
  </node>

  <node name = "az_switch_reader"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_az_switch_reader.conf" />
  </node>

  <node name = "door_locker"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_door_locker.conf" />
  </node>

  <node name = "door_reader"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_door_reader.conf" />
  </node>

  <node name = "door_leftposition_reader"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_door_leftposition_reader.conf" />
  </node>

  <node name = "door_leftaction_reader"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_door_leftaction_reader.conf" />
  </node>

  <node name = "door_rightposition_reader"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_door_rightposition_reader.conf" />
  </node>

  <node name = "door_rightaction_reader"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_door_rightaction_reader.conf" />
  </node>

  <node name = "door_commander"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_door_commander.conf" />
  </node>

  <node name = "door_cmd_writer"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_door_cmd_writer.conf" />
  </node>
 
  <node name = "memb_position_reader"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_memb_position_reader.conf" />
  </node>

  <node name = "memb_action_reader"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_memb_action_reader.conf" />
  </node>

  <node name = "memb_commander"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_memb_commander.conf" />
  </node>

  <node name = "memb_cmd_writer"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_memb_cmd_writer.conf" />
  </node>
  
  <node name = "memb_locker"
        type = "relay.py"
        pkg = "necst_ros3">
    <param name = "config_file"
           value = "$(find necst_ros3)/relay_conf/dome_memb_locker.conf" />
  </node>
 
</launch>
