<launch>
  <node name = "az_commander_pid"
        type = "antenna_az_commander_pid.py"
        pkg = "necst_ros3"
        output = "log"
        machine = "necctrl">
  </node>
  
  <node name = "el_commander_pid"
        type = "antenna_el_commander_pid.py"
        pkg = "necst_ros3"
        output = "log"
        machine = "necctrl">
  </node>
</launch>
