<launch>

  <include ns="antenna" file="$(find necst_ros3)/launch/nanten2-antenna.launch" />

  <include ns="dome" file="$(find necst_ros3)/launch/nanten2-dome.launch" />

  <include ns="encoder" file="$(find necst_ros3)/launch/nanten2-encoder.launch" />

  <include ns="hot" file="$(find necst_ros3)/launch/nanten2-hot.launch" />

  <include ns="m4" file="$(find necst_ros3)/launch/nanten2-m4.launch" />

  <include ns="m2" file="$(find necst_ros3)/launch/nanten2-m2.launch" />

  <include ns="weather" file="$(find necst_ros3)/launch/nanten2-weather.launch" />

  <include ns="spectrometer" file="$(find necst_ros3)/launch/nanten2-spectrometer.launch" />

  <include ns="obs" file="$(find necst_ros3)/launch/nanten2-obs.launch" />
  <include ns="alert" file="$(find necst_ros3)/launch/nanten2-alert.launch" />

</launch>
