<launch>

  <include ns="antenna" file="$(find necst_ros3)/launch/nanten2-antenna.launch" />
  <include ns="antenna" file="$(find necst_ros3)/launch/simulator-antenna.launch" />

  <include ns="dome" file="$(find necst_ros3)/launch/nanten2-dome.launch" />
  <include ns="dome" file="$(find necst_ros3)/launch/simulator-dome.launch" />

  <include ns="encoder" file="$(find necst_ros3)/launch/nanten2-encoder.launch" />
  <include ns="encoder" file="$(find necst_ros3)/launch/simulator-encoder.launch" />

  <include ns="hot" file="$(find necst_ros3)/launch/nanten2-hot.launch" />
  <include ns="hot" file="$(find necst_ros3)/launch/simulator-hot.launch" />

  <include ns="weather" file="$(find necst_ros3)/launch/nanten2-weather.launch" />
<!--
  <include ns="weather" file="$(find necst_ros3)/launch/simulator-weather.launch" />
-->

  <include ns="spectrometer" file="$(find necst_ros3)/launch/nanten2-spectrometer.launch" />
<!--
  <include ns="spectrometer" file="$(find necst_ros3)/launch/simulator-spectrometer.launch" />
-->

  <include ns="obs" file="$(find necst_ros3)/launch/nanten2-obs.launch" />
  <include ns="alert" file="$(find necst_ros3)/launch/nanten2-alert.launch" />

</launch>
