<launch>

  <include file="$(find necst_ros3)/launch/necobs.launch" />

  <include file="$(find necst_ros3)/launch/weather-device.launch" />

  <group>
    <machine name="necctrl" address="necctrl" env-loader="/root/ros/devel/env.sh" user="root" password="root" />
    <include file="$(find necst_ros3)/launch/necctrl.launch" />
  </group>

  <group>
    <machine name="necopt" address="necopt" env-loader="/root/ros/devel/env.sh" user="root" password="root" />
    <include file="$(find necst_ros3)/launch/necopt.launch" />
  </group>

</launch>
