<launch>

  <include file="$(find necst_ros3)/launch/necobs.launch" />

  <include file="$(find necst_ros3)/launch/weather-device.launch" />

  <include ns="achilles" file="$(find necst_ros3)/launch/achilles.launch" />

  <group>
    <machine name="necctrl" address="necctrl" env-loader="/root/ros/devel/env.sh" user="root" password="root" />
    <include file="$(find necst_ros3)/launch/necctrl.launch" />
  </group>

  <group>
    <machine name="necopt" address="necopt" env-loader="/root/ros/devel/env.sh" user="root" password="root" />
    <include file="$(find necst_ros3)/launch/necopt.launch" />
  </group>
<!--
  <group>
    <machine name="ubuntu" address="ubuntu" env-loader="/home/amigos/ros/devel/env.sh" user="amigos" password="x" />
    <include ns="camera" file="$(find necst_ros3)/launch/camera-device.launch" />
  </group>
-->
</launch>
